body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: url(images/background.png) top left;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #414141;
}
a:visited {
  color: #414141;
}
a:hover {
  color: #238dff;
  text-decoration: underline;
}

fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  font-size: 1em;
}

.clear
{
clear: both;
}
/* Main Elements */
#container
{
width: 905px;
margin: 0 auto;
padding: 0;
}

#backdrop
{
padding: 30px 0 0 0;
background: url(images/bg-top.png) repeat-x top;
z-index: -1;
width: 100%;
height: 100%;
}

#backdrop-bottom
{
width: 100%;
height: 100%;
background: url(images/bg-bottom.png) repeat-x bottom;
}

#header, #middle, #bottom, #footer
{
width: 100%;
margin: 0;
padding: 0;
}

#header
{
height: 95px;
background: url(images/top.png) no-repeat;
}

#header-title
{
float: left;
margin: 42px 0 0 25px;
}

#top-menu
{
	float: left;
	margin: 52px 0 0 30px;
}

#middle
{
background: url(images/middle.png) repeat-y;
padding: 0 20px 0 20px;
}

#left
{
float: left;
width: 588px;
}

#left div.block
{
width: 100%;
padding: 15px 0 0 0;
margin: 0;
background: url(images/content-top.png) top no-repeat;
}

#left div.block div.outer
{
width: 100%;
padding: 0 0 15px 0;
margin: 0;
background: url(images/content-bottom.png) bottom no-repeat;
}

#left div.block div.inner
{
margin: 0;
padding: 5px 25px 5px 20px;
background: url(images/content-middle.png) repeat-y;
}

#right
{
margin-right: 40px;
float: right;
width: 266px;
}

#right div.block
{
width: 100%;
padding: 15px 0 0 0;
margin: 0;
background: url(images/right-top.png) top no-repeat;
}

#right div.block div.outer
{
width: 100%;
padding: 0 0 15px 0;
margin: 0;
background: url(images/right-bottom.png) bottom no-repeat;
}

#right div.block div.inner
{
margin: 0;
padding: 5px 25px 5px 20px;
background: url(images/right-middle.png) repeat-y;
}

#bottom
{
height: 129px;
background: url(images/bottom.png) no-repeat;
padding: 90px 0 0 0;
}

#footer
{
text-align: center;
font-size: 0.8em;

}

/* Top Menu */
#top-menu li
{
color: #a4a4a4;
}

#top-menu li.active
{
color: #238dff;
}

/* Other Crap */
tr.odd td, tr.even td {
  padding: 0.3em;
}


.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}

.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
  margin: 0 auto;
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.node {
  margin: .5em 0 2em; /* LTR */
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em; /* LTR */
}
.node .picture {
  border: 1px solid #ddd;
  float: right; /* LTR */
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right; /* LTR */
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
